/.git-blame-ignore-revs export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phive export-ignore
/.php-cs-fixer.* export-ignore
/.prettyphp export-ignore
/.vscode export-ignore
/docs export-ignore
/phpstan* export-ignore
/phpunit* export-ignore
/scripts export-ignore
/src/Sync/Contract/ProvidesClient.php linguist-generated
/src/Sync/Contract/ProvidesInvoice.php linguist-generated
/src/Sync/Contract/ProvidesProject.php linguist-generated
/src/Sync/Contract/ProvidesTask.php linguist-generated
/src/Sync/Contract/ProvidesTenant.php linguist-generated
/src/Sync/Contract/ProvidesTimeEntry.php linguist-generated
/src/Sync/Contract/ProvidesUser.php linguist-generated
/src/Sync/Entity/Client.php linguist-generated
/src/Sync/Entity/Invoice.php linguist-generated
/src/Sync/Entity/InvoiceLineItem.php linguist-generated
/src/Sync/Entity/Project.php linguist-generated
/src/Sync/Entity/Task.php linguist-generated
/src/Sync/Entity/Tenant.php linguist-generated
/src/Sync/Entity/TimeEntry.php linguist-generated
/src/Sync/Entity/User.php linguist-generated
/tests export-ignore
/tools export-ignore
