includes:
  - phpstan-baseline.neon

parameters:
  level: 9
  paths:
    - bin/lk-time
    - scripts
    - src
    - tests
    - bootstrap.php
  ignoreErrors:
    -
      identifier: return.unusedType
